body{
    background: linear-gradient(to right,#7e33c9, #417fe2, #1b8892);
}
.me-2{
    border-radius:10px;
    width: 300px;
}
.buscador{
    margin:0px 50px 0px 0px;
}
.btn-outline-succes{
    border :3px solid black;
}
.btn-outline-succes:hover{
    background-color:#99ccff;
}
.iconopatas{
    width:40px;
    height:40px;
    border:none;
}
b{
    font-size: 30px;
}
.bi::before{
    background-size: 5rem 5rem;
}
.bi-person-fill{
    font-size: 30px;
}
.bi-list{
    font-size: 30px;
}
.nav-link{
    margin:0px 0px 0px 30px;
}
.dropdown-menu{
    margin-left:10px;
}
.d-flex{
    margin-right: 30px;
    width: 500px;
}
.xxxx:hover{
    background-color:black;
    color:#ffffff;
    
}
.xxxx{
    border-color: black;
    color:black;
    background-color:#ffffff;
}
/*cajas*/
.espaciado_superior_cajas{
    margin-top: 5%;
}
.bandana-index{
    border: 4px solid black;
    background-color: white;
    border-radius: 20px;

    /*margin-top: 50px;*/
    width:100%;
    max-width:380px;
    height:100%;
    max-height:200px;
}
.bandana-index h4{
    margin-top: 30px;
    margin-left: 22px;
}
.bandan-index h2{
    margin-bottom: 40px;
    margin-left: 14px;
}
#primerbandana{
    border: 3px solid black;
    border-radius: 20px;
    width:150px;
    height:150px;
    margin:20px 20px 0px 0px;
}
.bandana-collares{
    border: 4px solid black;
    background-color: white;
    border-radius: 20px;

    /*margin-top: 50px;*/
    width:100%;
    max-width:380px;
    height:100%;
    max-height:200px;
}
.bandana-collares h4{
    margin-top: 30px;
    margin-left: 22px;
}
.bandana-collares h2{
    margin-bottom: 40px;
    margin-left: 14px;
}
#segundabandana{
    border: 3px solid black;
    border-radius: 20px;
    width:150px;
    height:150px;
    margin:20px 20px 0px 0px;
}
.bandana-bandanas{
    border: 4px solid black;
    background-color: white;
    border-radius: 20px;

    /*margin-top: 50px;*/
    width:100%;
    max-width:380px;
    height:100%;
    max-height:200px;
}
.bandana-bandanas h4{
    margin-top: 30px;
    margin-left: 22px;
} 
.bandana-bandanas h2{
    margin-bottom: 40px;
    margin-left: 14px;
}
#tercerbandana{
    border: 3px solid black;
    border-radius: 20px;
    width:150px;
    height:150px;
    margin:20px 20px 0px 0px;
}
.bandana-correas{
    border: 4px solid black;
    background-color: white;
    border-radius: 20px;

    /*margin-top: 50px;*/
    width:100%;
    max-width:380px;
    height:100%;
    max-height:200px;
}
.bandana-correas h4{
    margin-top: 30px;
    margin-left: 22px;
}
.bandana-correas h2{
    margin-bottom: 40px;
    margin-left: 14px;
}
#cuartabandana{
    border: 3px solid black;
    border-radius: 20px;
    width:150px;
    height:150px;
    margin:20px 20px 0px 0px;
}
.bandana-publicidad{
    border: 4px solid black;
    background-color: white;
    border-radius: 20px;

    /*margin-top: 50px;*/
    width:100%;
    max-width:380px;
    height:100%;
    max-height:200px;
}
.bandana-publicidad h4{
    margin-top: 30px;
    margin-left: 22px;
}
.bandana-publicidad h2{
    margin-bottom: 40px;
    margin-left: 14px;
}
#quintabandana{
    border: 3px solid black;
    border-radius: 20px;
    width:150px;
    height:150px;
    margin:20px 20px 0px 0px;
}
.bandana-seis{
    border: 4px solid black;
    background-color: white;
    border-radius: 20px;

    /*margin-top: 50px;*/
    width:100%;
    max-width:380px;
    height:100%;
    max-height:200px;
}
.bandana-seis h4{
    margin-top: 30px;
    margin-left: 22px;
}
.bandana-seis h2{
    margin-bottom: 40px;
    margin-left: 14px;
}
#sextabandana{
    border: 3px solid black;
    border-radius: 20px;
    width:150px;
    height:150px;
    margin:20px 20px 0px 0px;
}
.bandana-siete{
    border: 4px solid black;
    background-color: white;
    border-radius: 20px;

    /*margin-top: 50px;*/
    width:100%;
    max-width:380px;
    height:100%;
    max-height:200px;
}
.bandana-siete h4{
    margin-top: 30px;
    margin-left: 22px;
}
.bandana-siete h2{
    margin-bottom: 40px;
    margin-left: 14px;
}
#septimabandana{
    border: 3px solid black;
    border-radius: 20px;
    width:150px;
    height:150px;
    margin:20px 20px 0px 0px;
}
.bandana-ocho{
    border: 4px solid black;
    background-color: white;
    border-radius: 20px;

    /*margin-top: 50px;*/
    width:100%;
    max-width:380px;
    height:100%;
    max-height:200px;
}
.bandana-ocho h4{
    margin-top: 30px;
    margin-left: 22px;
}
.bandana-ocho h2{
    margin-bottom: 40px;
    margin-left: 14px;
}
#octavabandana{
    border: 3px solid black;
    border-radius: 20px;
    width:150px;
    height:150px;
    margin:20px 20px 0px 0px;
}
.bandana-nueve{
    border: 4px solid black;
    background-color: white;
    border-radius: 20px;

    /*margin-top: 50px;*/
    width:100%;
    max-width:380px;
    height:100%;
    max-height:200px;
}
.bandana-nueve h4{
    margin-top: 30px;
    margin-left: 22px;
}
.bandana-nueve h2{
    margin-bottom: 40px;
    margin-left: 14px;
}
#novenabandana{
    border: 3px solid black;
    border-radius: 20px;
    width:150px;
    height:150px;
    margin:20px 20px 0px 0px;
}
.bandana-index .bandana-collares .bandana-bandanas .bandana-correas .bandana-seis .bandana-siete .bandana-ocho .bandana-nueve{
    transition: all 0.1s;
}
.bandana-index:hover{
    transform: scale(1.1);
}
.bandana-collares:hover{
    transform: scale(1.1);
}
.bandana-bandanas:hover{
    transform: scale(1.1);
}
.bandana-correas:hover{
    transform: scale(1.1);
}
.bandana-publicidad:hover{
    transform: scale(1.1);
}
.bandana-seis:hover{
    transform: scale(1.1);
}
.bandana-siete:hover{
    transform: scale(1.1);
}
.bandana-ocho:hover{
    transform: scale(1.1);
}
.bandana-nueve:hover{
    transform: scale(1.1);
}
.pd{
    padding-left: 3%;
}
@media screen and (max-width: 376px){
    .col-xxl-3{
        text-align: center;
    }
    .menu-busqueda{
        width:300px;
        height:500px;
    }
}
#sinlineado{
    text-decoration: none;
}