*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align : center;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
}

.image-container{
    display: flex;
}

.image-container img{
    width: 100%;
}

article{
    padding: 10px;
    box-shadow: 0px 0px 1px #000;
}

<!--navbar-->
.me-2 {
    border-radius: 10px;
    width: 300px;
}

.buscador {
    margin: 0px 50px 0px 0px;
}

.btn-outline-succes {
    border: 3px solid black;
}

.btn-outline-succes:hover {
    background-color: #99ccff;
}

.iconopatas {
    width: 40px;
    height: 40px;
    border: none;
}

b {
    font-size: 30px;
}

.bi::before {
    background-size: 5rem 5rem;
}

.bi-person-fill {
    font-size: 30px;
}

.bi-list {
    font-size: 30px;
}

.nav-link {
    margin: 0px 0px 0px 30px;
}

.dropdown-menu {
    margin-left: 10px;
}

.d-flex {
    margin-right: 30px;
    width: 500px;
}

.xxxx:hover {
    background-color: black;
    color: #ffffff;

}

.xxxx {
    border-color: black;
    color: black;
    background-color: #ffffff;
}


body{
    background-color: #000;
}