{% extends 'menu/plantillaProductos.html' %}
    {% load static%}
    {% block css %}
    <link rel="stylesheet" href="{% static 'menu/css/bandana_perroTrajeEleganteRojo.css' %}">
    {% endblock css %}
          {% block imagen %}    
          <img class="imagen" id="quintabandana" src="{% static 'menu/img/c4.jpg' %}">
          {% endblock imagen %}
          {% block info %}        
          <div class="info">
            <h5>
              <p>
                <li>Nombre: Bandana Elegante con broche rojo </li><br>
                <li>Color: Negro con rojo</li><br>
                <li>Talla: Pequeña </li><br>
                <li>Tipo: Canino </li><br>
                <li>Material: Polar </li><br>
              </p>
            </h5>
          </div>
          {% endblock info %}          