{% extends 'menu/plantillaProductos.html' %}
    {% load static%}
    {% block css %}
    <link rel="stylesheet" href="{% static 'menu/css/bandana_PerroRayasLocas.css' %}">
    {% endblock css %}   
          {% block imagen %}
          <img class="imagen" id="segundabandana" src="{% static 'menu/img/c3.jpg' %}">
          {% endblock imagen %}
          {% block info %}      
          <div class="info">
            <h5>
              <p>
                <li>Nombre: Bandana Rayas Locas</li><br>
                <li>Color: Blanco y negro </li><br>
                <li>Talla:Grande</li><br>
                <li>Tipo: Canino </li><br>
                <li>Material: Tela </li><br>
              </p>
            </h5>
          </div>
          {% endblock info %}