{% extends 'menu/plantillaMascotas.html' %}
{%load static%}
{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'menu/css/bandanas.css' %}">
{% endblock css %}
{% block index %}
<div class="bandana-index">
  <a href="{% url 'bandana_GatoCeleste' %}">
    <div class="row">
      <!--datos-->
      <div class="col">
        <div class="row">
          <p>
          <h4>Bandana Gato<br>Celeste</h4>
          </p>
        </div>
        <div class="row">
          <h2>
            <p><b>$2.990</b></p>
          </h2>
        </div>
      </div>
      <!--imagen-->
      <div class="col">
        <img id="primerbandana" src="{% static 'menu/img/cc5.jpg' %}">
      </div>
    </div>
  </a>
</div>
{% endblock index %}
{% block correas %}
<div class="bandana-correas">
  <a href="{% url 'bandana_GatoStreet' %}">
    <div class="row">
      <!--datos-->
      <div class="col">
        <div class="row">
          <p>
          <h4>Bandana Gato<br>Street</h4>
          </p>
        </div>
        <div class="row">
          <h2>
            <p><b>$2.990</b></p>
          </h2>
        </div>
      </div>
      <!--imagen-->
      <div class="col">
        <img id="cuartabandana" src="{% static 'menu/img/cc4.jpg' %}">
      </div>
    </div>
  </a>
</div>
{% endblock correas %}
{% block siete %}
<div class="bandana-siete">
  <a href="{% url 'bandana_perroTrajeEleganteDorado' %}">
    <div class="row">
      <!--datos-->
      <div class="col">
        <div class="row">
          <p>
          <h4>Bandana Perro<br>Traje Elegante con dorado</h4>
          </p>
        </div>
        <div class="row">
          <h2>
            <p><b>$3.990</b></p>
          </h2>
        </div>
      </div>
      <!--imagen-->
      <div class="col">
        <img id="septimabandana" src="{% static 'menu/img/c2.jpg' %}">
      </div>
    </div>
  </a>
</div>
{% endblock siete %}
{% block collares %}
<div class="bandana-collares">
  <a href="{% url 'bandana_PerroRayasLocas' %}">
    <div class="row">
      <!--datos-->
      <div class="col">
        <div class="row">
          <p>
          <h4>Bandana Perro<br>Rayas locas</h4>
          </p>
        </div>
        <div class="row">
          <h2>
            <p><b>$1.990</b></p>
          </h2>
        </div>
      </div>
      <!--imagen-->
      <div class="col">
        <img id="segundabandana" src="{% static 'menu/img/c3.jpg' %}">
      </div>
    </div>
  </a>
</div>
{% endblock collares %}
{% block publicidad %}
<div class="bandana-publicidad">
  <a href="{% url 'bandana_perroTrajeEleganteRojo' %}">
    <div class="row">
      <!--datos-->
      <div class="col">
        <div class="row">
          <p>
          <h4>Bandana Perro<br>Traje Elegante con rojo</h4>
          </p>
        </div>
        <div class="row">
          <h2>
            <p><b>$3.990</b></p>
          </h2>
        </div>
      </div>
      <!--imagen-->
      <div class="col">
        <img id="quintabandana" src="{% static 'menu/img/c4.jpg' %}">
      </div>
    </div>
  </a>
</div>
{% endblock publicidad%}
{% block ocho %}
<div class="bandana-ocho">
  <a href="{% url 'bandana_PerroCuadrille' %}">
    <div class="row">
      <!--datos-->
      <div class="col">
        <div class="row">
          <p>
          <h4>Bandana Perro<br>Cuadrille</h4>
          </p>
        </div>
        <div class="row">
          <h2>
            <p><b>$1.990</b></p>
          </h2>
        </div>
      </div>
      <div class="col">
        <img id="octavabandana" src="{% static 'menu/img/c1.jpg' %}">
      </div>
    </div>
  </a>
</div>
{% endblock ocho %}
{% block bandanas %}
<div class="bandana-bandanas">
  <a href="{% url 'bandana_GatoLocura' %}">
    <div class="row">
      <!--datos-->
      <div class="col">
        <div class="row">
          <p>
          <h4>Bandana Gato<br>Locura</h4>
          </p>
        </div>
        <div class="row">
          <h2>
            <p><b>$1.990</b></p>
          </h2>
        </div>
      </div>
      <!--imagen-->
      <div class="col">
        <img id="tercerbandana" src="{% static 'menu/img/cc2.jpg' %}">
      </div>
    </div>
  </a>
</div>
{% endblock bandanas %}
{% block seis %}
<div class="bandana-seis">
  <a href="{% url 'bandana_GatoCuadrille' %}">
    <div class="row">
      <!--datos-->
      <div class="col">
        <div class="row">
          <p>
          <h4>Bandana Gato<br>Cuadrille</h4>
          </p>
        </div>
        <div class="row">
          <h2>
            <p><b>$1.990</b></p>
          </h2>
        </div>
      </div>
      <!--imagen-->
      <div class="col">
        <img id="sextabandana" src="{% static 'menu/img/cc3.jpg' %}">
      </div>
    </div>
  </a>
</div>
{% endblock seis %}
{% block nueve %}
<div class="bandana-nueve">
  <a href="{% url 'bandana_GatoFifi' %}">
    <div class="row">
      <!--datos-->
      <div class="col">
        <div class="row">
          <p>
          <h4>Bandana Gato<br>Fifi</h4>
          </p>
        </div>
        <div class="row">
          <h2>
            <p><b>$1.990</b></p>
          </h2>
        </div>
      </div>
      <!--imagen-->
      <div class="col">
        <img id="novenabandana" src="{% static 'menu/img/cc1.jpg' %}">
      </div>
    </div>
  </a>
</div>
{% endblock nueve %}