{% extends 'menu/plantillaProductos.html' %}
    {% load static %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'menu/css/bandana_GatoFifi.css' %}">
    {% endblock css %}
          {% block imagen %}
          <img class="imagen" id="novenabandana" src="{% static 'menu/img/cc1.jpg' %}">
          {% endblock imagen %}
          {% block info %}       
          <div class="info">
            <h5>
              <p>
                <li>Nombre:Bandana Fifi</li><br>
                <li>Color: Rosado y negro </li><br>
                <li>Talla: Mediana </li><br>
                <li>Tipo:Felino</li><br>
                <li>Material: nailon </li><br>
              </p>
            </h5>
          </div>
          {% endblock info %}       