{% extends 'menu/plantillaProductos.html' %}
    {% load static %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'menu/css/bandana_GatoCuadrille.css' %}">
    {% endblock css %}
          {% block imagen %}   
          <img class="imagen" id="sextabandana" src="{% static 'menu/img/cc3.jpg' %}">
          {% endblock imagen %}
          {% block info %}      
          <div class="info">
            <h5>
              <p>
                <li>Nombre: Bandana Cuadrille multicolor </li><br>
                <li>Color: Multi color </li><br>
                <li>Talla: Pequeño</li><br>
                <li>Tipo:Felino</li><br>
                <li>Material: Tela </li><br>
              </p>
            </h5>
          </div>
          {% endblock info %}    