{% extends 'menu/plantillaProductos.html' %}
    {% load static %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'menu/css/c_gatosnvalentin.css' %}">
    {% endblock css %}
          {% block imagen %}
          <img class="imagen" id="novenocollar" src="{% static 'menu/img/c9.jpg' %}">
          {% endblock imagen %}     
          {% block info %}
          <div class="info">
            <h5>
              <p>
                <li>Nombre: Collar san valentin </li><br>
                <li>Color: Rojo con rosado</li><br>
                <li>Talla: Pequeño</li><br>
                <li>Tipo: Felino</li><br>
                <li>Material: Cuerina</li><br>
              </p>
            </h5>
          </div>
          {% endblock info %}     