{% extends 'menu/plantillaProductos.html' %}

{% load static%}

{% block css %}

    <link rel="stylesheet" href="{% static 'menu/css/c_gatocarreras.css' %}">
{% endblock css %}

{% block imagen %}
          <img class="imagen" id="sextocollar" src="{% static 'menu/img/c3 (2).jpg' %}">
{% endblock imagen %}

{% block info %}
          <div class="info">
            <h5>
              <p>
                <li>Nombre: Collar Carreras</li><br>
                <li>Color: Azul con amarillo y blanco</li><br>
                <li>Talla:Grande</li><br>
                <li>Tipo:Felino</li><br>
                <li>Material: nailon </li><br>
              </p>
            </h5>
          </div>
{% endblock info %}   