{% extends 'menu/plantillaProductos.html' %}

{% load static%}

{% block css %}
    <link rel="stylesheet" href="{% static 'menu/css/c_perrocafe.css' %}">
 {% endblock css %}
 {% block imagen %}   
            <img class="imagen" id="octavocollar" src="{% static 'menu/img/cp3.jpg' %}">
  {% endblock imagen%}
  {% block info %}      
          <div class="info">
            <h5>
              <p>
                <li>Nombre:Collar Cafe</li><br>
                <li>Color:Cafe con azul</li><br>
                <li>Talla:Grande</li><br>
                <li>Tipo:Canino</li><br>
                <li>Material:Cuero</li><br>
              </p>
            </h5>
          </div>
   {% endblock info %}    