{% extends 'menu/plantillaProductos.html' %}
    {% load static %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'menu/css/collar_PerroRojo.css' %}">
    {% endblock css %} 
          {% block imagen %}
          <img class="imagen" id="quintocollar" src="{% static 'menu/img/cp1.jpg' %}">
          {% endblock imagen %}      
          {% block info %}
          <div class="info">
            <h5>
              <p>
                <li>Nombre:Collar rojo</li><br>
                <li>Color:Rojo con detalles negros</li><br>
                <li>Talla:Grande</li><br>
                <li>Tipo:Canino</li><br>
                <li>Material:Cuerina</li><br>
              </p>
            </h5>
          </div>
          {% endblock info %}     