{% extends 'menu/plantillaProductos.html' %}

{% load static%}

{% block css %}
    <link rel="stylesheet" href="{% static 'menu/css/c_perroblanco.css' %}">
{% endblock css%}   

{% block imagen %}
            <img class="imagen" id="septimocollar" src="{% static 'menu/img/cp2.jpg' %}">
{% endblock imagen %}   

{% block info %}
          <div class="info">
            <h5>
              <p>
                <li>Nombre: Collar Blanco</li><br>
                <li>Color: Blanco con negro</li><br>
                <li>Talla: Pequeño</li><br>
                <li>Tipo: Canino</li><br>
                <li>Material: nailon </li><br>
              </p>
            </h5>
          </div>
{% endblock info %}      