{% extends 'menu/plantillaProductos.html' %}
    {% load static %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'menu/css/c_perrovainilla.css' %}">
    {% endblock css %}    
          {% block imagen %}
          <img class="imagen" id="segundocollar" src="{% static 'menu/img/cp4.jpg' %}">
          {% endblock imagen %}     
          {% block info %}
          <div class="info">
            <h5>
              <p>
                <li>Nombre:Collar vainilla</li><br>
                <li>Color: Cafe claro</li><br>
                <li>Talla: Mediano</li><br>
                <li>Tipo:Canino</li><br>
                <li>Material:Cuero</li><br>
              </p>
            </h5>
          </div>
          {% endblock info %}    