{% extends 'menu/plantillaProductos.html' %}
{% load static%}

{% block css %}
    <link rel="stylesheet" href="{% static 'menu/css/cr_gatofreestyle.css' %}">
{% endblock css %}    
    
{% block imagen %}
            <img class="imagen" id="terceracorrea" src="{% static 'menu/img/cc3 (2).jpg' %}">
{% endblock imagen %}      

{% block info %}
          <div class="info">
            <h5>
              <p>
                <li>Nombre:Correa estilo arnes</li><br>
                <li>Color: Multi color </li><br>
                <li>Talla: Mediano</li><br>
                <li>Tipo:Felino</li><br>
                <li>Material: nailon </li><br>
              </p>
            </h5>
          </div>
{% endblock info %}          
       