{% extends 'menu/plantillaProductos.html' %}
    {% load static %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'menu/css/cr_perronegra.css' %}">
    {% endblock css %}    
          {% block imagen %}
          <img class="imagen" id="octavacorrea" src="{% static 'menu/img/c2 (1).jpg' %}">
          {% endblock imagen %}      
          {% block info %}
          <div class="info">
            <h5>
              <p>
                <li>Nombre: Correa de perro </li><br>
                <li>Color: Negra </li><br>
                <li>Talla:Grande</li><br>
                <li>Tipo: Canino</li><br>
                <li>Material: Nailon</li><br>
              </p>
            </h5>
          </div>
          {% endblock info %}