{% extends 'menu/plantillaProductos.html' %}
{% load static%}

{% block css %}
    <link rel="stylesheet" href="{% static 'menu/css/cr_perroazul.css' %}">
{% endblock css %}   

  {% block imagen %}     
            <img class="imagen" id="septimacorrea" src="{% static 'menu/img/c1 (1).jpg' %}">
  {% endblock imagen %}    
  
  {% block info %}
          <div class="info">
            <h5>
              <p>
                <li>Nombre: Correa para perro </li><br>
                <li>Color:Azul con detalles naranjos</li><br>
                <li>Talla:Grande</li><br>
                <li>Tipo:Canino</li><br>
                <li>Material: nailon </li><br>
              </p>
            </h5>
          </div>
  {% endblock info %}
      