{% extends 'menu/plantillaProductos.html' %}
    {% load static %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'menu/css/cr_perronegracadena.css' %}">
    {% endblock css %}   
          {% block imagen %}
          <img class="imagen" id="segundacorrea" src="{% static 'menu/img/c4 (1).jpg' %}">
          {% endblock imagen %}      
          {% block info %}
          <div class="info">
            <h5>
              <p>
                <li>Nombre: Correa estilo cuerda</li><br>
                <li>Color:Azul con negro </li><br>
                <li>Talla: Mediana</li><br>
                <li>Tipo: Canino </li><br>
                <li>Material: Nailon reforzado</li><br>
              </p>
            </h5>
          </div>
          {% endblock info %}      