{% extends 'menu/plantillaMascotas.html' %}
{%load static%}
          
          {% block css %}
          <link type="text/css" rel="stylesheet" href="{% static 'menu/css/cuatro.css' %}">
          {% endblock css %}          

          {% block uno %}
          <div class="correa-uno" onclick="location.href='cr_gatorosada.html'">
            <div class="row">
              <!--datos-->
              <div class="col">
                <div class="row">
                  <p><h4>Correa Gato<br>Rosada</h4></p>
                </div>
                <div class="row">
                  <h2>
                    <p><b>$2.990</b></p>
                  </h2>
                </div>
              </div>
              <!--imagen-->
              <div class="col">
                <img id="primercorrea" src="{% static 'menu/img/cc1 (1).jpg' %}">
              </div>
            </div>
          </div>
          {% endblock uno %}

          {% block cuatro %}
          <div class="correa-cuatro" onclick="location.href='cr_gatoazul.html'">
            <div class="row">
              <!--datos-->
              <div class="col">
                <div class="row">
                  <p><h4>Correa Gato<br>Celeste</h4></p>
                </div>
                <div class="row">
                  <h2>
                    <p><b>$1.990</b></p>
                  </h2>
                </div>
              </div>
              <!--imagen-->
              <div class="col">
                <img id="cuartacorrea" src="{% static 'menu/img/cc2 (1).jpg' %}">
              </div>
            </div>
          </div>
          {% endblock cuatro %}
 
          {% block siete %}
          <div class="correa-siete" onclick="location.href='cr_perroazul.html'">
            <div class="row">
              <!--datos-->
              <div class="col">
                <div class="row">
                  <p><h4>Correa Perro<br>Azul</h4></p>
                </div>
                <div class="row">
                  <h2>
                    <p><b>$1.990</b></p>
                  </h2>
                </div>
              </div>
              <!--imagen-->
              <div class="col">
                <img id="septimacorrea" src="{% static 'menu/img/c1 (1).jpg' %}">
              </div>
            </div>
          </div>
          {% endblock siete %}

          {% block dos %}
          <div class="correa-dos" onclick="location.href='cr_perronegracadena.html'">
            <div class="row">
              <!--datos-->
              <div class="col">
                <div class="row">
                  <p><h4>Correa<br>Cadena Negra</h4></p>
                </div>
                <div class="row">
                  <h2>
                    <p><b>$8.990</b></p>
                  </h2>
                </div>
              </div>
              <!--imagen-->
              <div class="col">
                <img id="segundacorrea" src="{% static 'menu/img/c4 (1).jpg' %}">
              </div>
            </div>
          </div>
          {% endblock dos %}

          {% block cinco %}
          <div class="correa-cinco" onclick="location.href='cr_perrorojo.html'">
            <div class="row">
              <!--datos-->
              <div class="col">
                <div class="row">
                  <p><h4>Correa Perro<br>Roja</h4></p>
                </div>
                <div class="row">
                  <h2>
                    <p><b>$10.990</b></p>
                  </h2>
                </div>
              </div>
              <!--imagen-->
              <div class="col">
                <img id="quintacorrea" src="{% static 'menu/img/c3 (1).jpg' %}">
              </div>
            </div>
          </div>
          {% endblock cinco %}

          {% block ocho %}
          <div class="correa-ocho" onclick="location.href='cr_perronegra.html'">
            <div class="row">
              <!--datos-->
              <div class="col">
                <div class="row">
                  <p><h4>Correa Perro<br>Negra</h4></p>
                </div>
                <div class="row">
                  <h2>
                    <p><b>$11.990</b></p>
                  </h2>
                </div>
              </div>
              <!--imagen-->
              <div class="col">
                <img id="octavacorrea" src="{% static 'menu/img/c2 (1).jpg' %}">
              </div>
            </div>
          </div>
          {% endblock ocho %}

          {% block tres %}
          <div class="correa-tres" onclick="location.href='cr_gatofreestyle.html'">
            <div class="row">
              <!--datos-->
              <div class="col">
                <div class="row">
                  <p><h4>Correa Gato<br>Free Style</h4></p>
                </div>
                <div class="row">
                  <h2>
                    <p><b>$1.990</b></p>
                  </h2>
                </div>
              </div>
              <!--imagen-->
              <div class="col">
                <img id="terceracorrea" src="{% static 'menu/img/cc3 (2).jpg' %}">
              </div>
            </div>
          </div>
          {% endblock tres %}

          {% block seis %}
          <div class="correa-seis" onclick="location.href='cr_gatocuadrilles.html'">
            <div class="row">
              <!--datos-->
              <div class="col">
                <div class="row">
                  <p><h4>Correa Gato<br>Cuadrilles</h4></p>
                </div>
                <div class="row">
                  <h2>
                    <p><b>$7.990</b></p>
                  </h2>
                </div>
              </div>
              <!--imagen-->
              <div class="col">
                <img id="sextacorrea" src="{% static 'menu/img/cc4 (1).jpg' %}">
              </div>
            </div>
          </div>
          {% endblock seis %}

          {% block nueve %}
          <div class="correa-nueve" onclick="location.href='cr_gatonegra.html'">
            <div class="row">
              <!--datos-->
              <div class="col">
                <div class="row">
                  <p><h4>Correa Gato<br>Negra</h4></p>
                </div>
                <div class="row">
                  <h2>
                    <p><b>$12.990</b></p>
                  </h2>
                </div>
              </div>
              <!--imagen-->
              <div class="col">
                <img id="novenacorrea" src="{% static 'menu/img/cc5 (1).jpg' %}">
              </div>
            </div>
          </div>
          {% endblock nueve %}