{% extends 'menu/plantillaMascotas.html' %}
        {%load static%}
        {% block css %}
        <link type="text/css" rel="stylesheet" href="{% static 'menu/css/dos.css' %}">
        {% endblock css %}
        {% block uno %}
        <div class="collar-uno" onclick="location.href='c_gatostreet.html'">
          <div class="row">
            <!--datos-->
            <div class="col">
              <div class="row">
                <p><h4>Collar Gato<br>Street</h4></p>
              </div>
              <div class="row">
                <h2>
                  <p><b>$1.990</b></p>
                </h2>
              </div>
            </div>
            <!--imagen-->
            <div class="col">
              <img id="primercollar" src="{% static 'menu/img/c2 (2).jpg' %}">
            </div>
          </div>
        </div>
        {% endblock uno %}
        {% block cuatro %}
        <div class="collar-cuatro" onclick="location.href='c_gatoazul.html'">
          <div class="row">
            <div class="col">
              <div class="row">
                <p><h4>Collar Gato<br>Azul</h4></p>
              </div>
              <div class="row">
                <h2>
                  <p><b>$1.990</b></p>
                </h2>
              </div>
            </div>
            <div class="col">
              <img id="cuartocollar" src="{% static 'menu/img/c5.jpg' %}">
            </div>
          </div>
        </div>
        {% endblock cuatro %}
        {% block siete %}
        <div class="collar-siete" onclick="location.href='c_perroblanco.html'">
          <div class="row">
            <div class="col">
              <div class="row">
                <p><h4>Collar Perro<br>Blanco</h4></p>
              </div>
              <div class="row">
                <h2>
                  <p><b>$990</b></p>
                </h2>
              </div>
            </div>
            <div class="col">
              <img id="septimocollar" src="{% static 'menu/img/cp2.jpg' %}">
            </div>
          </div>
        </div>
        {% endblock siete %}
        {% block dos %}
        <div class="collar-dos" onclick="location.href='c_perrovainilla.html'">
          <div class="row">
            <div class="col">
              <div class="row">
                <p><h4>Collar Perro<br>Vainilla</h4></p>
              </div>
              <div class="row">
                <h2>
                  <p><b>$9.990</b></p>
                </h2>
              </div>
            </div>
            <div class="col">
              <img id="segundocollar" src="{% static 'menu/img/cp4.jpg' %}">
            </div>
          </div>
        </div>
        {% endblock dos %}
        {% block cinco %}
        <div class="collar-cinco" onclick="location.href='c_perrorojo.html'">
          <div class="row">
            <div class="col">
              <div class="row">
                <p><h4>Collar Perro<br>Rojo</h4></p>
              </div>
              <div class="row">
                <h2>
                  <p><b>$8.990</b></p>
                </h2>
              </div>
            </div>
            <div class="col">
              <img id="quintocollar" src="{% static 'menu/img/cp1.jpg' %}">
            </div>
          </div>
        </div>
        {% endblock cinco %}
        {% block ocho %}
        <div class="collar-ocho" onclick="location.href='c_perrocafe.html'">
          <div class="row">
            <div class="col">
              <div class="row">
                <p><h4>Collar Perro<br>Café</h4></p>
              </div>
              <div class="row">
                <h2>
                  <p><b>$5.990</b></p>
                </h2>
              </div>
            </div>
            <div class="col">
              <img id="octavocollar" src="{% static 'menu/img/cp3.jpg' %}">
            </div>
          </div>
        </div>
        {% endblock ocho %}
        {% block tres %}
        <div class="collar-tres" onclick="location.href='c_gatofreestyle.html'">
          <div class="row">
            <div class="col">
              <div class="row">
                <p><h4>Collar Gato<br>Free Style</h4></p>
              </div>
              <div class="row">
                <h2>
                  <p><b>$2.990</b></p>
                </h2>
              </div>             
            </div>
            <div class="col">
              <img id="tercercollar" src="{% static 'menu/img/c6.jpg' %}">
            </div>
          </div>
        </div>
        {% endblock tres %}
        {% block seis %}
        <div class="collar-seis" onclick="location.href='c_gatocarreras.html'">
          <div class="row">
            <div class="col">
              <div class="row">
                <p><h4>Collar Gato<br>Carreras</h4></p>
              </div>
              <div class="row">
                <h2>
                  <p><b>$1.990</b></p>
                </h2>
              </div>
            </div>
            <div class="col">
              <img id="sextocollar" src="{% static 'menu/img/c3 (2).jpg' %}">
            </div>
          </div>
        </div>
        {% endblock seis %}
        {% block nueve %}
        <div class="collar-nueve" onclick="location.href='c_gatosnvalentin.html'">
          <div class="row">
            <div class="col">
              <div class="row">
                <p><h4>Collar Gato<br>San Valentin</h4></p>
              </div>
              <div class="row">
                <h2>
                  <p><b>$7.990</b></p>
                </h2>
              </div>
            </div>
            <div class="col">
              <img id="novenocollar" src="{% static 'menu/img/c9.jpg' %}">
            </div>
          </div>
        </div>
        {% endblock nueve %}