{% extends 'menu/plantillaMascotas.html' %}
{%load static%}

          {% block css %}
          <link type="text/css" rel="stylesheet" href="{% static 'menu/css/tres.css' %}">
          {% endblock css %}

          {% block uno %}
          <div class="bandana-uno" onclick="location.href='b_gatoceleste.html'">
            <div class="row">
              <!--datos-->
              <div class="col">
                <div class="row">
                  <p><h4>Bandana Gato<br>Celeste</h4></p>
                </div>
                <div class="row">
                  <h2>
                    <p><b>$2.990</b></p>
                  </h2>
                </div>
              </div>
              <!--imagen-->
              <div class="col">
                <img id="primerbandana" src="{% static 'menu/img/cc5.jpg' %}">
              </div>
            </div>
          </div>
          {% endblock uno %}
        
          {% block cuatro %}
          <div class="bandana-cuatro" onclick="location.href='b_gatostreet.html'">
            <div class="row">
              <!--datos-->
              <div class="col">
                <div class="row">
                  <p><h4>Bandana Gato<br>Street</h4></p>
                </div>
                <div class="row">
                  <h2>
                    <p><b>$2.990</b></p>
                  </h2>
                </div>
              </div>
              <!--imagen-->
              <div class="col">
                <img id="cuartabandana" src="{% static 'menu/img/cc4.jpg' %}">
              </div>
            </div>
          </div>
          {% endblock cuatro %}
          
          {% block siete %}
          <div class="bandana-siete" onclick="location.href='b_perrotrajelegante7.html'">
            <div class="row">
              <!--datos-->
              <div class="col">
                <div class="row">
                  <p><h4>Bandana Perro<br>Traje Elegante con dorado</h4></p>
                </div>
                <div class="row">
                  <h2>
                    <p><b>$3.990</b></p>
                  </h2>
                </div>
              </div>
              <!--imagen-->
              <div class="col">
                <img id="septimabandana" src="{% static 'menu/img/c2.jpg' %}">
              </div>
            </div>
          </div>
          {% endblock siete %}

          {% block dos %}
          <div class="bandana-dos" onclick="location.href='b_perrorayaslocas.html'">
            <div class="row">
              <!--datos-->
              <div class="col">
                <div class="row">
                  <p><h4>Bandana Perro<br>Rayas locas</h4></p>
                </div>
                <div class="row">
                  <h2>
                    <p><b>$1.990</b></p>
                  </h2>
                </div>
              </div>
              <!--imagen-->
              <div class="col">
                <img id="segundabandana" src="{% static 'menu/img/c3.jpg' %}">
              </div>
            </div>
          </div>
          {% endblock dos %}

          {% block cinco %}
          <div class="bandana-cinco" onclick="location.href='b_perrotrajelegante5.html'">
            <div class="row">
              <!--datos-->
              <div class="col">
                <div class="row">
                  <p><h4>Bandana Perro<br>Traje Elegante con rojo</h4></p>
                </div>
                <div class="row">
                  <h2>
                    <p><b>$3.990</b></p>
                  </h2>
                </div>
              </div>
              <!--imagen-->
              <div class="col">
                <img id="quintabandana" src="{% static 'menu/img/c4.jpg' %}">
              </div>
            </div>
          </div>
          {% endblock cinco%}
          
          {% block ocho %}
          <div class="bandana-ocho" onclick="location.href='b_perrocuadrille.html'">
            <div class="row">
              <!--datos-->
              <div class="col">
                <div class="row">
                  <p><h4>Bandana Perro<br>Cuadrille</h4></p>
                </div>
                <div class="row">
                  <h2>
                    <p><b>$1.990</b></p>
                  </h2>
                </div>
              </div>    
              <div class="col">
                <img id="octavabandana" src="{% static 'menu/img/c1.jpg' %}">
              </div>
            </div>
          </div>
          {% endblock ocho %}

          {% block tres %}
          <div class="bandana-tres" onclick="location.href='b_gatolocura.html'">
            <div class="row">
              <!--datos-->
              <div class="col">
                <div class="row">
                  <p><h4>Bandana Gato<br>Locura</h4></p>
                </div>
                <div class="row">
                  <h2>
                    <p><b>$1.990</b></p>
                  </h2>
                </div>
              </div>
              <!--imagen-->
              <div class="col">
                <img id="tercerbandana" src="{% static 'menu/img/cc2.jpg' %}">
              </div>
            </div>
          </div>
          {% endblock tres %}
          
          {% block seis %}
          <div class="bandana-seis" onclick="location.href='b_gatocuadrille.html'">
            <div class="row">
              <!--datos-->
              <div class="col">
                <div class="row">
                  <p><h4>Bandana Gato<br>Cuadrille</h4></p>
                </div>
                <div class="row">
                  <h2>
                    <p><b>$1.990</b></p>
                  </h2>
                </div>
              </div>
              <!--imagen-->
              <div class="col">
                <img id="sextabandana" src="{% static 'menu/img/cc3.jpg' %}">
              </div>
            </div>
          </div>
          {% endblock seis %}

          {% block nueve %}
          <div class="bandana-nueve" onclick="location.href='b_gatofifi.html'">
            <div class="row">
              <!--datos-->
              <div class="col">
                <div class="row">
                  <p><h4>Bandana Gato<br>Fifi</h4></p>
                </div>
                <div class="row">
                  <h2>
                    <p><b>$1.990</b></p>
                  </h2>
                </div>
              </div>
              <!--imagen-->
              <div class="col">
                <img id="novenabandana" src="{% static 'menu/img/cc1.jpg' %}">
              </div>
            </div>
          </div>
          {% endblock nueve %}